<div class="row">
    <div class="col-xs-12">
      <nb-card>
        <nb-card-header>Paciente</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName">Nombre(s)</label>
                <input type="text" class="form-control" id="inputFirstName" [(ngModel)]="paciente.nombre">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName">Apellido(s)</label>
                <input type="text" class="form-control" id="inputLastName" [(ngModel)]="paciente.apellido">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">DNI</label>
                <input type="text" class="form-control" id="inputDNI" [(ngModel)]="paciente.dni">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite">Website</label>
                <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </nb-card-body>
      </nb-card>
    </div>
</div>
  